* {
  box-sizing: border-box;
  outline: 0; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #FFFF99;
  color: #000000;
  text-decoration: none; }

mark {
  background-color: #FFFF99;
  color: #000000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCCCCC;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle;
  outline: none; }

input, textarea, select, button {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

body {
  padding-top: 50px;
  background: ##videos-background-color#;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 400;
  font-size: 14px;
  color: ##videos-text-color#;
  min-width: 280px; }

a {
  position: relative;
  color: ##videos-link-active#;
  text-decoration: none; }

a:hover {
  color: ##videos-link-hover#; }

h1, h2, h3 {
  margin: 15px 0 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold; }

.dropdown-container {
  display: none; }
  .dropdown-container.active {
    display: block; }

.width-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

.heading-container {
  position: relative; }
  .heading-container:after {
    content: '';
    display: block;
    clear: both; }
  .heading-container .button-container {
    flex-grow: 100;
    text-align: right; }
  .heading-container .button {
    display: inline-block;
    height: 35px;
    margin-top: 10px;
    padding: 0 5px;
    border: 1px solid #2B2B2B;
    background: ##videos-text-color#;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    transition: 0.15s ease background-color; }
    .heading-container .button:hover {
      background: ##videos-link-hover#; }

.heading-container.with-button {
  display: flex;
  justify-content: space-between;
  white-space: nowrap; }
  .heading-container.with-button:after {
    content: '';
    display: block;
    clear: both; }

.sort-container {
  position: absolute;
  top: 0;
  right: 0; }
  .sort-container:after {
    content: '';
    display: block;
    clear: both; }
  .sort-container ul {
    content: '';
    display: block;
    clear: both; }
    .sort-container ul li {
      display: inline-block;
      font-size: 14px;
      line-height: 30px; }
      .sort-container ul li > a, .sort-container ul li span {
        display: block;
        height: 30px;
        padding: 0 10px;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        background: #FFFFFF;
        color: ##videos-text-color#;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        transition: 0.15s ease bORDER-color, 0.15s ease background-color, 0.15s ease color; }
        .sort-container ul li > a:hover, .sort-container ul li span:hover {
          border-color: ##videos-link-hover#;
          background: ##videos-link-hover#;
          color: #FFFFFF; }
      .sort-container ul li > ul {
        z-index: 1;
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        min-width: 100%;
        background: ##videos-text-color#; }
        .sort-container ul li > ul li {
          display: block; }
          .sort-container ul li > ul li a {
            border: 0; }
      .sort-container ul li:hover > ul {
        display: block; }
    .sort-container ul li.has-child {
      position: relative; }
      .sort-container ul li.has-child > span:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 0 3px 5px;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: ##videos-text-color# transparent transparent transparent;
        transition: 0.15s ease border-color; }
      .sort-container ul li.has-child > span:hover:after {
        border-color: #FFFFFF transparent transparent transparent; }
    .sort-container ul .sort-dropdown {
      position: absolute;
      z-index: 2;
      background: #FFFFFF;
      right: 0;
      top: 33px;
      border: 1px solid #CCCCCC;
      padding: 2px 10px;
      border-radius: 3px;
      min-width: 150px;
      box-sizing: border-box; }
    .sort-container ul li.active > a, .sort-container ul li.active span {
      border-color: ##videos-link-hover#;
      background: ##videos-link-hover#;
      color: #FFFFFF; }
      .sort-container ul li.active > a:after, .sort-container ul li.active span:after {
        border-color: #FFFFFF transparent transparent transparent; }

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc; }
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .checkbox-container input:checked ~ .checkmark {
      background-color: ##videos-link-hover#; }
      .checkbox-container input:checked ~ .checkmark:after {
        display: block; }
  .checkbox-container .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee; }
    .checkbox-container .checkmark:after {
      left: 7px;
      top: 1px;
      width: 4px;
      height: 9px;
      border: solid #FFFFFF;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.combine-container {
  margin-bottom: 15px;
  font-size: 14px; }
  .combine-container a {
    margin-right: 5px;
    font-size: 14px;
    line-height: 2em;
    color: ##videos-text-color#;
    white-space: nowrap;
    transition: 0.15s ease color; }
    .combine-container a:hover {
      text-decoration: none;
      color: ##videos-link-hover#; }
  .combine-container.show {
    line-height: 1em;
    height: auto; }
  .combine-container.hide {
    line-height: 1em;
    height: auto; }

.more-button {
  margin: -10px auto 0;
  width: 130px;
  height: 30px;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: ##videos-text-color#;
  background: #ffffff;
  line-height: 30px;
  text-align: center; }
  .more-button:hover {
    border-color: ##videos-link-hover#;
    background: ##videos-link-hover#;
    color: #FFFFFF; }
  .more-button.show {
    display: none; }
  .more-button.hide {
    display: none; }

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    /*.site-nav{
        margin-left: 5px;

        ul {
            display: flex;

            li {

                padding: 5px 0;
                line-height: 40px;

                a {
                    display: block;
                    padding: 0 10px;
                    height: 40px;
                    box-sizing: border-box;
                    transition: 0.15s ease color;
                    color: $color_2;
                    white-space: nowrap;
                    font-weight: 600;
                    text-transform: uppercase;

                    &:hover {
                        color: $color_3;
                    }
                }
            }
        }
    }*/
    /*

    .language-container {
        margin: 0 0 0 5px;
    }
    .language-switcher {
        padding: 5px 0;
        .current {
            height: 40px;
            padding: 0 10px;
            border: 1px solid #CCCCCC;
            border-radius: 3px;
            background: ##videos-background-color#;
            font-size: 18px;
            line-height: 38px;
            cursor: pointer;
            white-space: nowrap;
            transition: 0.15s ease border-color, 0.15s ease background-color, 0.15s ease color;
            i {
                margin: 0 0 -9px 0;
            }
            &:after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                margin: 0 0 3px 5px;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: $border_color_3;
                transition: 0.15s ease border-color;
            }
            &:hover {
                &:after {
                    border-color: $border_color_2;
                }
            }
        }
        &:hover {
            .current {
                border-color: $border_color_1;
                background: ##videos-link-hover#;
                color: $color_1;
            }
        }
        .language-list {
            z-index: 5;
            position: absolute;
            display: none;
            top: 100%;
            right: 0;
            width: 142px;
            background: #FFFFFF;
            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
            text-align: left;
            ul {
                li {
                    display: inline-block;
                    a {
                        display: block;
                        padding: 0 6px;
                        font-size: 18px;
                        line-height: 36px;
                        color: $color_1;
                        transition: 0.15s ease opacity;
                        i {
                            margin: 0 0 -9px 0;
                        }
                        &:hover {
                            opacity: 0.25;
                        }
                    }
                }
                li.active {
                    a {
                        opacity: 0.25;
                    }
                }
            }
        }
    }

    */ }
  .header .width-wrap {
    display: flex;
    justify-content: space-between; }
  .header .right-side {
    display: flex; }
  .header .left-side {
    display: flex; }
  .header .rightest-block {
    display: flex; }
  .header .#videos-v-thumb-logo# {
    margin: 5px 0 0 0;
    color: ##videos-background-color#;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    justify-content: flex-end;
    text-align: left; }
    .header .#videos-v-thumb-logo# a {
      display: block;
      color: ##videos-text-color#;
      transition: 0.15s ease color; }
      .header .#videos-v-thumb-logo# a:hover {
        color: ##videos-link-hover#; }
        .header .#videos-v-thumb-logo# a:hover span {
          color: ##videos-text-color#; }
    .header .#videos-v-thumb-logo# span {
      color: ##videos-link-hover#;
      transition: 0.15s ease color; }
  .header .menu-button {
    display: none;
    height: 40px;
    box-sizing: border-box;
    font-size: 18px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 10px 12px;
    cursor: pointer;
    width: 44px;
    text-align: center;
    margin: 5px 0 5px 0; }
    .header .menu-button.active {
      display: none; }
      .header .menu-button.active .fa-bars {
        display: none; }
      .header .menu-button.active .fa-chevron-up {
        display: block; }
    .header .menu-button:hover {
      border-color: ##videos-link-hover#;
      background: ##videos-background-color#;
      color: #FFFFFF; }
    .header .menu-button .fa-bars {
      display: block; }
    .header .menu-button .fa-chevron-up {
      display: none; }
  .header .navigation {
    display: block;
    margin: 0 0 0 5px; }
    .header .navigation.active {
      display: block; }
    .header .navigation li.active a {
      border-color: ##videos-link-hover#;
      background: ##videos-background-color#;
      color: #FFFFFF; }
    .header .navigation li {
      display: inline-block;
      padding: 5px 0;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 40px; }
    .header .navigation a, .header .navigation span {
      display: block;
      height: 40px;
      padding: 0 10px;
      color: ##videos-text-color#;
      /*border: 1px solid #CCCCCC;
      background: ##videos-background-color#;*/
      border-radius: 3px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      transition: 0.15s ease border-color, 0.15s ease background-color, 0.15s ease color;
      cursor: pointer; }
      .header .navigation a:hover, .header .navigation span:hover {
        border-color: ##videos-link-hover#;
        background: ##videos-link-hover#;
        color: #FFFFFF; }
    .header .navigation > ul > li > a {
      white-space: nowrap; }
    .header .navigation li.has-child > a:after, .header .navigation li.has-child span:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      margin: 0 0 3px 5px;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: ##videos-text-color# transparent transparent transparent;
      transition: 0.15s ease border-color; }
    .header .navigation li.has-child > a:hover:after, .header .navigation li.has-child span:hover:after {
      border-color: #FFFFFF transparent transparent transparent; }
    .header .navigation li.has-child > .child {
      position: absolute;
      /*display: none;*/
      top: 100%;
      right: 0;
      width: 100%;
      padding: 2px 10px 7px;
      background: #FFFFFF;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25); }
      .header .navigation li.has-child > .child ul {
        -webkit-columns: 6;
        columns: 6; }
        .header .navigation li.has-child > .child ul li {
          width: 100%;
          padding: 3px 0;
          font-size: 14px;
          font-weight: 400;
          text-transform: none;
          line-height: 26px; }
          .header .navigation li.has-child > .child ul li a {
            display: block;
            height: auto;
            padding: 0 10px;
            border: 1px solid #CCCCCC;
            background: ##videos-background-color#;
            color: ##videos-text-color#;
            white-space: nowrap;
            transition: 0.15s ease border-color, 0.15s ease background-color, 0.15s ease color; }
            .header .navigation li.has-child > .child ul li a:hover {
              border-color: ##videos-link-hover#;
              background: ##videos-link-hover#;
              color: #FFFFFF; }
      .header .navigation li.has-child > .child .link-container {
        position: relative;
        margin-top: 3px; }
        .header .navigation li.has-child > .child .link-container a {
          display: block;
          height: auto;
          padding: 0 10px;
          border: 1px solid #CCCCCC;
          background: ##videos-background-color#;
          color: ##videos-text-color#;
          white-space: nowrap;
          text-align: center;
          transition: 0.15s ease border-color, 0.15s ease background-color, 0.15s ease color; }
          .header .navigation li.has-child > .child .link-container a:hover {
            border-color: ##videos-link-hover#;
            background: ##videos-link-hover#;
            color: #FFFFFF; }
  .header #navigation_switcher.active li.has-child > a {
    border-color: ##videos-link-hover#;
    background: ##videos-link-hover#;
    color: #FFFFFF; }
    .header #navigation_switcher.active li.has-child > a:after {
      border-color: #FFFFFF transparent transparent transparent; }
  .header #navigation_switcher.active li.has-child > .child {
    display: block; }
  .header .search {
    /*position: relative;*/
    height: 50px;
    padding: 5px 0 5px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 3; }
    .header .search form {
      position: relative; }
    .header .search .search-form {
      display: block; }
      .header .search .search-form.active {
        display: block; }
    .header .search .search-input {
      width: 300px;
      height: 40px;
      padding: 0 70px 0 10px;
      border: 1px solid #CCCCCC;
      border-radius: 3px;
      background: ##videos-background-color#;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      transition: 0.15s ease background-color; }
      .header .search .search-input:focus {
        background: #FFFFFF; }
    .header .search .search-submit {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      padding: 0 10px;
      border: 1px solid #CCCCCC;
      border-radius: 3px;
      background: ##videos-background-color#;
      font-size: 18px;
      color: ##videos-text-color#;
      cursor: pointer;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      transition: 0.15s ease border-color, 0.15s ease background-color, 0.15s ease color; }
      .header .search .search-submit:hover {
        border-color: ##videos-link-hover#;
        background: ##videos-link-hover#;
        color: #FFFFFF; }
    .header .search .search-button {
      display: none;
      height: 40px;
      box-sizing: border-box;
      font-size: 18px;
      border: 1px solid #CCCCCC;
      border-radius: 3px;
      padding: 10px 12px;
      cursor: pointer;
      width: 44px;
      text-align: center; }
      .header .search .search-button:hover {
        border-color: ##videos-link-hover#;
        background: ##videos-link-hover#;
        color: #FFFFFF; }
      .header .search .search-button.active .fa-search {
        display: none; }
      .header .search .search-button.active .fa-chevron-up {
        display: block; }
      .header .search .search-button .fa-search {
        display: block; }
      .header .search .search-button .fa-chevron-up {
        display: none; }

/*
.menu-dropdown-opened {
    .header {
        .navigation {
            !*li {
                a {
                    border-color: $border_color_1;
                    background: ##videos-link-hover#;
                    color: $color_1;
                }
            }*!
            li.has-child {
                > a {
                    border-color: $border_color_1;
                    background: ##videos-link-hover#;
                    color: $color_1;

                    &:after {
                        border-color: $border_color_2;
                    }
                }
                > .child {
                    display: block;
                }
            }
        }
    }
}
*/
/*.languages-opened {
    .header {
        .language-switcher {
            .current {
                border-color: $border_color_1;
                background: ##videos-link-hover#;
                color: $color_1;
                &:after {
                    border-color: $border_color_2;
                }
            }
            .language-list {
                display: block;
            }
        }
    }
}*/
.thumbs {
  margin: 10px -5px;
  text-align: center;
  letter-spacing: -5px; }
  .thumbs .thumb {
    display: inline-block;
    width: 310px;
    padding: 0 5px 5px 5px;
    letter-spacing: 0; }
    .thumbs .thumb:hover a {
      color: ##videos-link-hover#; }
    .thumbs .thumb .thumb-image {
      position: relative;
      display: block; }
      .thumbs .thumb .thumb-image img {
        display: block; }
      .thumbs .thumb .thumb-image:hover .thumb-videos {
        top: -20px;
        left: -100px; }
      .thumbs .thumb .thumb-image:hover .thumb-duration {
        top: -20px;
        left: -100px; }
    .thumbs .thumb .thumb-container {
      position: relative;
      display: block;
      overflow: hidden;
      width: 300px;
      height: 250px; }
    .thumbs .thumb .thumb-description {
      height: 32px;
      margin: 5px 0;
      display: block;
      overflow: hidden;
      line-height: 16px;
      text-align: left; }
    .thumbs .thumb .thumb-videos {
      font-size: 13px;
      position: absolute;
      top: 3px;
      left: 3px;
      padding: 0 5px;
      background: rgba(255, 255, 255, 0.75);
      line-height: 20px;
      color: #000000;
      transition: 0.15s ease top, 0.15s ease left; }
    .thumbs .thumb .thumb-duration {
      font-size: 13px;
      position: absolute;
      top: 3px;
      left: 3px;
      padding: 0 5px;
      background: rgba(255, 255, 255, 0.75);
      line-height: 20px;
      color: #000000;
      transition: 0.15s ease top, 0.15s ease left; }
  .thumbs .thumb.category .thumb-description {
    overflow: hidden;
    height: 24px;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap; }

.paginator {
  margin: 0 auto;
  text-align: center;
  letter-spacing: -5px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  overflow: hidden; }
  .paginator li {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0; }
    .paginator li a {
      min-width: 38px;
      height: 38px;
      padding: 0 10px;
      display: block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-right: 1px solid #CCCCCC;
      font-size: 15px;
      font-weight: 600;
      line-height: 38px;
      transition: 0.15s ease background-color, 0.15s ease color; }
      .paginator li a:hover {
        background: ##videos-link-hover#;
        color: #FFFFFF; }
      .paginator li a i {
        height: 38px;
        display: block;
        background-repeat: no-repeat;
        background-position: center; }
    .paginator li:first-child a {
      border-left: 1px solid #CCCCCC; }
    .paginator li:last-child a {
      border-right: 1px solid #CCCCCC; }
    .paginator li a.active {
      background: ##videos-link-hover#;
      color: #FFFFFF; }

.bottom-text {
  padding: 30px 0;
  font-size: 14px;
  line-height: 20px; }

.list-section ul {
  -webkit-columns: 4;
  columns: 4; }
  .list-section ul li {
    padding: 5px 0;
    font-size: 18px;
    line-height: 24px; }
    .list-section ul li a {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      transition: 0.15s ease color; }
      .list-section ul li a span {
        display: block;
        margin-left: 20px;
        padding: 0 5px;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        background: #FFFFFF;
        font-size: 12px;
        color: #555555;
        transition: 0.15s ease border-color, 0.15s ease background-color, 0.15s ease color; }
      .list-section ul li a:hover span {
        border-color: ##videos-link-hover#;
        background: ##videos-link-hover#;
        color: #FFFFFF; }
  .list-section ul li.letter {
    padding: 5px 10px;
    background: #555555;
    color: #FFFFFF; }

.spots-section {
  padding: 10px 0; }

.spots {
  text-align: center;
  letter-spacing: -5px; }
  .spots .spot {
    display: inline-block;
    width: 25%;
    text-align: center;
    letter-spacing: 0; }
    .spots .spot img {
      display: inline-block; }
    .spots .spot iframe {
      display: inline-block; }

.video-wrapper .width-wrap {
  display: flex; }

.video-container {
  width: calc(100% - 310px); }
  .video-container .video {
    position: relative;
    padding-top: 66%;
    margin-bottom: 10px; }
    .video-container .video img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .video-container .video iframe {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .video-container h1 {
    margin: 10px 0; }
  .video-container .video-about {
    position: relative;
    font-size: 16px;
    line-height: 30px; }
    .video-container .video-about .rating {
      position: absolute;
      top: 0;
      right: 0; }
      .video-container .video-about .rating a {
        display: inline-block;
        padding: 0 5px;
        color: #FFFFFF;
        border: 1px solid #2B2B2B;
        background: ##videos-text-color#;
        transition: 0.15s ease background-color; }
    .video-container .video-about .row {
      margin-bottom: 10px;
      margin-right: 200px; }
      .video-container .video-about .row a {
        display: inline-block;
        margin-bottom: 2px;
        padding: 0 5px;
        color: #FFFFFF;
        border: 1px solid #2B2B2B;
        background: ##videos-text-color#;
        transition: 0.15s ease background-color; }
    .video-container .video-about a:hover {
      background: ##videos-link-hover#; }
    .video-container .video-about .description {
      font-size: 14px;
      line-height: 20px; }

.info-wrap {
  padding: 0 10px; }
  .info-wrap .info-row {
    line-height: 20px; }
    .info-wrap .info-row .title {
      display: inline-block;
      font-weight: bold; }
    .info-wrap .info-row > a {
      display: inline-block;
      transition: 0.15s ease color;
      line-height: 2em; }
    .info-wrap .info-row.tags {
      overflow: hidden;
      line-height: 1em;
      height: 2em; }

.comments .add-comment-block {
  display: none;
  margin-bottom: 10px; }
  .comments .add-comment-block .success {
    margin-bottom: 5px;
    padding: 5px 0;
    background: greenyellow;
    font-size: 14px;
    line-height: 20px;
    text-align: center; }
  .comments .add-comment-block .success.hidden {
    display: none; }
  .comments .add-comment-block .field-error {
    margin-bottom: 5px;
    background: orangered;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center; }
  .comments .add-comment-block .input-row {
    margin-bottom: 5px; }
    .comments .add-comment-block .input-row .input-text {
      width: 100%;
      height: 38px;
      padding: 0 10px;
      border: 1px solid #CCCCCC;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .comments .add-comment-block .input-row .input-textarea {
      width: 100%;
      height: 100px;
      padding: 5px 10px;
      border: 1px solid #CCCCCC;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
  .comments .add-comment-block .input-row.captcha .input-text {
    width: calc(100% - 175px);
    max-width: 165px;
    height: 68px;
    font-size: 24px;
    text-align: center; }
  .comments .add-comment-block .input-row.captcha .captcha-image {
    float: left;
    margin-right: 10px; }
  .comments .add-comment-block .submit-row .input-submit {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 5px;
    border: 1px solid #2B2B2B;
    background: ##videos-text-color#;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.15s ease background-color; }
    .comments .add-comment-block .submit-row .input-submit:hover {
      background: ##videos-link-hover#; }
.comments .comment-list .item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC; }
  .comments .comment-list .item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0; }
  .comments .comment-list .item .author {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold; }
    .comments .comment-list .item .author .date {
      font-style: italic;
      font-weight: normal;
      color: #777777; }
  .comments .comment-list .item .text {
    font-size: 14px;
    line-height: 20px; }

.add-comment-opened .comments .add-comment-block {
  display: block; }

.video-aside {
  width: 310px;
  padding: 50px 0 0 10px; }
  .video-aside .video-aside-block {
    margin-bottom: 10px; }
    .video-aside .video-aside-block img {
      display: block; }
    .video-aside .video-aside-block iframe {
      display: block; }

.bottom-languages {
  padding: 10px 0;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -5px; }
  .bottom-languages li {
    display: inline-block;
    padding: 2px 10px;
    letter-spacing: 0; }
    .bottom-languages li a {
      transition: 0.15s ease color; }
      .bottom-languages li a i {
        margin: 0 0 -11px 0; }

.footer {
  padding: 15px 0;
  background: #222222;
  font-size: 13px;
  color: #CCCCCC;
  text-align: center; }
  .footer .width-wrap:after {
    content: '';
    display: block;
    clear: both; }
  .footer a {
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer; }
    .footer a:hover {
      text-decoration: none; }
  .footer .footer-text {
    float: left;
    line-height: 20px; }
  .footer .footer-copyright {
    float: right;
    line-height: 20px; }

.go-to-top {
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: rgba(51, 190, 229, 0.75);
  font-size: 24px;
  line-height: 55px;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  transition: 0.15s ease opacity, 0.15s ease background-color; }
  .go-to-top:hover {
    background: ##videos-link-hover#; }

.go-to-top.active {
  opacity: 1;
  visibility: visible; }

/*.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/flags.png') no-repeat;
}

.flag.flag-nl {
    background-position: -160px -64px;
}

.flag.flag-dk {
    background-position: -128px 0;
}

.flag.flag-sv {
    background-position: 0 -128px;
}

.flag.flag-pl {
    background-position: -32px -96px;
}

.flag.flag-ms {
    background-position: -128px -64px;
}

.flag.flag-hu {
    background-position: -128px -32px;
}

.flag.flag-ja {
    background-position: -64px -64px;
}

.flag.flag-it {
    background-position: -32px -64px;
}

.flag.flag-zh {
    background-position: -32px 0;
}

.flag.flag-ro {
    background-position: -96px -96px;
}

.flag.flag-en {
    background-position: -64px -32px;
}

.flag.flag-id {
    background-position: -160px -32px;
}

.flag.flag-sr {
    background-position: -128px -96px;
}

.flag.flag-sk {
    background-position: -32px -128px;
}

.flag.flag-ko {
    background-position: -96px -64px;
}

.flag.flag-ar {
    background-position: 0 -64px;
}

.flag.flag-bg {
    background-position: 0 0;
}

.flag.flag-ru {
    background-position: -160px -96px;
}

.flag.flag-vi {
    background-position: -96px -128px;
}

.flag.flag-es {
    background-position: -160px 0;
}

.flag.flag-fr {
    background-position: -32px -32px;
}

.flag.flag-no {
    background-position: 0 -96px;
}

.flag.flag-fi {
    background-position: 0 -32px;
}

.flag.flag-tr {
    background-position: -64px -128px;
}

.flag.flag-de {
    background-position: -96px 0;
}

.flag.flag-cz {
    background-position: -64px 0;
}

.flag.flag-el {
    background-position: -96px -32px;
}

.flag.flag-pt {
    background-position: -64px -96px;
}*/
@media (max-width: 1230px) {
  .spots .spot {
    width: 33.#videos-text-color#%; }
    .spots .spot:nth-child(4) {
      display: none; } }
@media (max-width: 1000px) {
  .header .navigation li.has-child > .child ul {
    -webkit-columns: 4;
    columns: 4; }

  .spots .spot {
    width: 50%; }
    .spots .spot:nth-child(3) {
      display: none; }

  .list-section ul.categories {
    -webkit-columns: 3;
    columns: 3; }

  .video-wrapper .width-wrap {
    display: block; }

  .video-container {
    width: 100%;
    margin-bottom: 10px; }

  .video-aside {
    width: 100%;
    padding: 0;
    text-align: center; }
    .video-aside .video-aside-block {
      display: inline-block; } }
@media (max-width: 960px) {
  .header .search .search-form {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    box-sizing: border-box;
    padding: 0 10px 5px;
    top: 100%;
    background: #ffffff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25); }
    .header .search .search-form.active {
      display: block; }
  .header .search .search-button {
    display: block; }
  .header .search .search-input {
    width: 100%; }
  .header .search .search-submit {
    padding: 0 12px; }

  .video-aside .video-aside-block:nth-child(3) {
    display: none; } }
@media (max-width: 860px) {
  body {
    padding-top: 0; }

  .header {
    position: relative;
    /*.width-wrap {
        display: block;
        text-align: center;
    }*/
    /*.right-side {
        justify-content: space-between;
    }*/ }
    .header .#videos-v-thumb-logo# {
      display: inline-block; }
    .header .navigation li.has-child > .child ul {
      -webkit-columns: 3;
      columns: 3; }

  .combine-container.show {
    overflow: hidden;
    line-height: 1em;
    height: 2em; }
  .combine-container.hide {
    line-height: 1em;
    height: auto; }

  .more-button.show {
    display: block; }
  .more-button.hide {
    display: none; } }
@media (max-width: 760px) {
  .header .width-wrap {
    display: block;
    text-align: center; }
  .header .left-side {
    display: block;
    overflow: hidden; }
  .header .#videos-v-thumb-logo# {
    display: inline-block;
    float: left; }
  .header .menu-button {
    display: block;
    float: right; }
    .header .menu-button.active {
      display: block; }
  .header .navigation {
    display: none;
    overflow: hidden;
    width: 100%;
    margin: 0; }
    .header .navigation.active {
      display: block; }
    .header .navigation ul > li {
      width: 100%;
      padding: 0 0 5px 0; }
      .header .navigation ul > li a, .header .navigation ul > li span {
        border: 1px solid #CCCCCC;
        background: ##videos-background-color#; }
    .header .navigation li.has-child > .child {
      position: static;
      box-shadow: none; }
  .header .search {
    width: 100%;
    padding-top: 0; }
    .header .search .search-form {
      display: block;
      position: static;
      padding: 0;
      box-shadow: none; }
      .header .search .search-form.active {
        display: block; }
    .header .search .search-button {
      display: none; }

  .list-section ul.categories {
    -webkit-columns: 2;
    columns: 2; } }
@media (max-width: 670px) {
  .spots .spot {
    width: 100%; }
    .spots .spot:nth-child(2) {
      display: none; }

  .video-aside .video-aside-block:nth-child(2) {
    display: none; } }
@media (max-width: 640px) {
  .width-wrap {
    padding: 0 5px; }

  .header .right-side {
    display: block; }
  .header .search {
    height: 45px;
    padding-bottom: 0; }
    .header .search .search-form {
      padding: 0 0 5px; }
    .header .search .search-input {
      width: 100%; }
  .header .rightest-block {
    justify-content: space-between; }
  .header .navigation {
    margin: 0; }
    .header .navigation li.has-child > .child {
      right: auto;
      left: 0; }
  .header .language-container {
    margin: 0; }

  .video-container .video-about .rating {
    position: relative;
    margin-bottom: 10px;
    text-align: center; }
  .video-container .video-about .row {
    margin-right: 0; }

  .sort-container {
    position: static;
    margin-bottom: 5px;
    text-align: center; }
    .sort-container > ul > li {
      margin-bottom: 5px; }

  .info-wrap {
    padding: 0 5px; }
    .info-wrap .info-row.tags {
      height: 4em; } }
@media (max-width: 630px) {
  .thumbs .thumb {
    width: 50%; }
    .thumbs .thumb .thumb-container {
      width: auto;
      height: 0;
      padding-bottom: 60%; }
    .thumbs .thumb .thumb-image img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; } }
@media (max-width: 560px) {
  .width-wrap {
    padding: 0 5px; }

  .header .navigation li.has-child > .child ul {
    -webkit-columns: 2;
    columns: 2; }

  .list-section ul.categories {
    -webkit-columns: 1;
    columns: 1; }

  .footer {
    padding: 10px 0; } }
@media (max-width: 340px) {
  .header .navigation li.has-child > .child ul {
    -webkit-columns: 1;
    columns: 1; }

  .spots .spot {
    width: 100%; } }
@media (max-width: 320px) {
  .thumbs .thumb {
    width: 100%; } }

/*# sourceMappingURL=#videos-rotator-folder#.css.map */